<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<div class="vertical">
		<div role='banner' class="header_typesome">
		</div>
	</div>
</header>

